<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <title>ForumIT</title>
    <link rel="icon" href="/img/forum.gif" type="image/x-icon">
    <link rel='stylesheet' href="/View/style.css">
    <meta name="description" content="Forum">
    <meta name="keywords" content="IT">
    <meta name="author" content="Minions">
</head>
<body class="mainbody">
<script src="validationLogin.js"></script>
<div class="container">
    <div class="header">
                <span class="headerLeft">
                    <a href="index.php?Controller=Controller\IndexController&Action=indexAction&Template=index"><img src="../img/forum.gif" class="logo"></a>
                </span>
                <span class="headerCenter">

                    <h1>Best IT forum ever!</h1>
                </span>
                <span class="headerRight">
                    <form method="get" action="search.php" id="searchform">
                        <input type="text" name="SearchName" placeholder="Search your topic">
                        <input type="submit" name="submit" value="Search" class = "button1">
                    </form>
                </span>
    </div>
